<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <% include partials/nav.ejs%>
  <h1>Enter group name(in ukr), date start and date end </h1>
  <form method="GET" action="/groups">
    <input type ="text" name = "group" >
    <input type ="text" name = "start" >
    <input type ="text" name = "end" >
    <input type="submit" class="btn btn-primary">
  </form>



</body>

</html>